.cardInfo{
    background: $gradient;
    border-radius: 0 2rem 0 2rem;
    padding: 1rem;
    margin-bottom: .5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    max-height: 30%;
    height: 30%;
    .cardTitles{
        padding-left: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 1rem;
        .cardArea{
            display: flex;
            align-items: center;
            color: $grey;
            gap: .5rem;
            :first-child{
                margin-bottom: .2rem;
            }
        }
    }
    
}
.cardBottomDiv{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .cardFacilities{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        gap: .5rem;
    }
}

@media screen and (max-width: 1265px) {
    .cardInfo{
        .h2Rajhadi{
            font-size: 24px;
        }
        .pRajhadi{
            font-size: 24px;
        }
        .cardTitles{
            gap: 0.25rem;
        }
    }
    .cardBottomDiv{
        .cardFacilities{
            gap: 0.25rem;
        }

    }
}