.detailsMain{
    
    display: flex;
    justify-content: space-between;
    padding: 0 3rem;
    margin-bottom: 5rem;
    min-height: 80vh;
    width: 100vw;
    max-width: 90%;
    .detailsGeneral{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 60%;
        max-width: 50vw;
        gap: 3rem;
        .detailsDescription{
            padding-top: 4rem;
        }
        h1{
            text-align: start;
        }
        ul{
            max-width: 90%;
            flex-wrap: wrap;
        }
    }
    aside{
        width: 35%;
        max-width: 25vw;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        .asideHeading{
            display: flex;
            align-items: center;
            gap: 1.25rem;
            padding: .5rem 0;
        }
        .mainButton{
            margin-bottom: 8vh ;
        }
        .pricing{
            display: flex;
            flex-direction: column;
            gap: 2rem;
        }
        .reviews{
            
            display: flex;
            flex-direction: column;
            gap: 2rem;
            article{
                display: flex;
                flex-direction: column;
                gap: 2rem;
                ul{
                    display: flex;
                    gap: 1rem;
                    li{
                        font-size: 24px;
                    }
                    .grey{
                        
                        path{
                            color: $light-grey;
                        }
                        
                    }
                }
            }
        }
    }
    
    
    
}

@media screen and (max-width: 864px) {
    .detailsMain{
        flex-direction: column;
        justify-content: start;
        align-items: center;
        
        .detailsGeneral{
            min-width: 85vw;
            
        }
        aside{
            min-width: 100%;
        }
        .mainButton{
            position: fixed;
            z-index: 100;
            align-self: center;
            bottom: 0;
            width: 85vw;
            max-width: 600px;
            margin-bottom: 0;
        }
        .map{
            width: 85vw;
            
            aspect-ratio: 1;
        }
        .divider{
            margin-top: 3rem;
            border: 2px solid $line-grey;
        }
    }
    
}

