.mainButton{
    height: 88px;
    font-size: 36;
    border-radius: 0 1.5rem 0 1.5rem;
    border: none;
    h2{
        color: $white;
    }
    
}
.mainButton:hover{
    cursor: pointer;
}

@media screen and (max-width: 864px) {
    .mainButton{
        height: 72px;
        h2{
            font-size: 24px;
        }
    }
}