.card{
    aspect-ratio: 0.7;
    max-width: 29rem;
    min-width: 340px;
    width: 30vw;
    border-radius: 0 3rem 0 3rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
.card:hover{
    cursor: pointer;
}