.card{
    height: 41rem;
    max-width: 29rem;
    border-radius: 0 3rem 0 3rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
.card:hover{
    cursor: pointer;
}