.checkout{
    display: flex;
    justify-content: center;
    gap: 3rem;
    padding: 3rem 0;
    flex-wrap: wrap;
    
    section{
        align-items: center;
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        h1{
            white-space: nowrap;
        }
        img{
            
            max-width: 60%;
            min-width: 480px;
            border-radius: 0 2rem 0 2rem;
        }
        ul{
            padding: 0;
            max-width: 60%;
            min-width: 480px;
            gap: .5rem;
            flex-wrap: wrap;
            justify-content: start;
            
        }
        .imgAndInfo, .priceBuy{
            gap: 1rem;
            display: flex;
            flex-direction: column; 
        }
        .priceBuy{
            align-self: start;
        }
    }
    .totalPrice{
        display: flex;
        justify-content: space-between;
        max-width: 60%;
        min-width: 480px;
    }
    .paymentOptions{
        display: flex;
        width: 100%;
        align-items: center;
        
        justify-content: space-evenly;
        *{
            height: 100%;
        }
        .option{
            padding: .5rem;
            font-size: 4rem;
        }
        .separator{
            border: 1px solid $lightest-grey;
            max-height: 80%;
        }
        .visaMastercard{
            width: fit-content;
            display: flex;
            
        }
        .selected{
            border: 3px solid $green;
            border-radius: 1rem;
        }
        .option:not(.selected){
            border: 3px solid transparent;
            border-radius: 1rem;
        }
    }
}

@media screen and (max-width: 1553px){
    .checkout{
        
        .section{
            max-width: 550px;
            gap: 1rem;
            
            img{
                max-width: 100%;
                min-width: 100px;
            }
            .cowork-name{
                padding-right: 15rem; 
                
            }
            .priceBuy{
                padding-top: 2rem;
                align-self: center;
            }
        }
        .section{
            .paymentOptions{
                justify-content: center;
                gap: 2rem;
            }
        }
    }
}

@media screen and (max-width: 864px) {
    .checkout{
        .section{
            max-width: 345px;
            gap: 1rem;
            .cowork-name{
                padding-right: 8rem;
            }
            img{
                min-width: 340px;
                width: 340px;
            }
            ul{
                min-width: 240px;
                justify-content: space-between;
            }
            .priceBuy{
                max-width: 340px;
                .totalPrice{
                    min-width: 340px;
                }
                h2{
                    white-space: nowrap;
                }
            }
        }
        .section{
            .paymentOptions{
                justify-content: center;
                gap: 1.5rem;
                .option{
                    font-size: 3rem;
                    padding: 0 .25rem;
                }
            }
        }
    }
}