.footerContent{
    *{
        color: $white;
    }
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    gap: 13vh;
    .content{
        display: flex;
        justify-content: space-between;
        width: 80vw;
        max-width: 80%;
        align-self: center;
        gap: 2rem;
        
        :last-child{
            display: flex;
            flex-direction: column;
            gap: 3rem;
            .contact{
                gap: 0;
                white-space: wrap;
            }
        }
        li{
            flex: 1;
            width: 30%;
            h2{
                margin-bottom: .8rem;
            }
            div{
                max-width: 100%;
            }
            .cardBottomDiv{
                .cardFacilities{
                    flex-direction: row;
                    gap: 1rem;
                    padding-top: 1rem;
                    width: fit-content;
                    *{
                        color: $black;
                        display: flex;
                        justify-content: center;
                        padding-top: 2px;
                        
                    }
                }
            }
        }
        
    }
    .footerLinks{
        display: flex;
        align-self: center;
        align-items: center;
        justify-content: space-between;
        width: 80vw;
        max-width: 80%;
        li{
            width: fit-content;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 2rem;
            .copyright{
                padding-top: 12rem;
                white-space: nowrap;
            }
        }
    }
    .footerLinks:last-child{
        font-size: 64px;
    }
}
@media screen and (max-width:1279px){
    .footerContent{
        .footerLinks{
            flex-direction: column;
            
            li{
                .copyright{
                    padding-top: 1rem;
                }
            }
        }
    }
    
}
@media screen and (max-width:864px) {
    .content{
        flex-direction: column;
        
        li{
            min-width: 100%;
        }
    }
}