form{
    display: flex;
    flex-direction: column;
    height: fit-content;
    align-self: center;
    width: 100%;
    max-width: 560px;
    padding-bottom: 2rem;
    p, h1, span, button{
        text-align: center;
        margin-top: 2rem;
    }
    
    p{
        text-decoration: underline;
        
    }
    .error{
        text-decoration: none;
        color: $red;
    }

    p:hover{
        cursor: pointer;
        color: $black;
    }
    
}
