.map{
    width: 100%;
    aspect-ratio: 1.8;
    border-radius: 0 2rem 0 2rem;
    
}

@media screen and (max-width: 1500px) {
    .map{
        aspect-ratio: 1.5;
    }
}

@media screen and (max-width: 1200px) {
    .map{
        aspect-ratio: 1.2;
    }
}

@media screen and (max-width: 864px) {
    .map{
        aspect-ratio: 1;
    }
}