.navbar{
    background-color: transparent;
    position: fixed;
    z-index: 101;
    width: 90vw;
    max-width: 1732px;
    align-self: center;
    display: flex;
    justify-content: center;
    ul{
        width: 100%;
        max-width: 1600px;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        font-size: 32px;
        padding-top: 2rem;
        li{
            display: flex;
            gap: 2rem;
        }
    }
}