.user-booking{
    img{
        max-width: 464px;
        aspect-ratio: 1.5;
        border-radius: 0 1rem 0 1rem;
    }
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    width: 100%;
    max-width: 100%;
    gap: 2rem;
    padding: 2rem 1.5rem;
    background-color: $white;
    .booking-info{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
        max-width: 65%;
        width: 65%;
        
        .separator{
            border: 1px solid $line-grey;
        }
        .title-edit{
            display: flex;
            align-items: baseline;
            justify-content: space-between;
            .pen{
                font-size: 46px;
            }
        }
        ul{
            display: flex;
            justify-content: space-between;
            gap: .5rem;
        }
    }
}

@media screen and (max-width: 1250px ) {
    .user-booking{
        img{
            max-width: 300px;
        }
    }
}
@media screen and (max-width: 864px) {
    .user-booking{
        img{
            aspect-ratio: 1.3;
            max-width: 250px;
        }
        .booking-info{
            .title-edit{
                .pen{
                    font-size: 20px;
                }
            }
            
        }
    }
}
@media screen and (max-width: 650px) {
    .user-booking{
        gap: 1rem;
        padding: 1.5rem 1rem;
        img{
            aspect-ratio: 1;
            max-width: 120px;
        }
        .booking-info{
            .title-edit{
                .pen{
                    font-size: 20px;
                }
            }
            
        }
    }
}
