.accountContainer{
    display: flex;
    flex-direction: column;
    
    
    section{
        width: 100vw;
        max-width: 1732px;
        
        margin-bottom: 2rem;
        
        .bookingsHeading{
            background-color: $dark-grey;
            h2{
                color: $white;
                margin-left: 5rem;
                padding: 1rem 0;
            }
        }
    }
}